<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livros Cadastrados</title>
</head>
<body>
  <h2>Livros Cadastrados</h2>
  <table border="1" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Gênero</th>
        <th>Descrição</th>
        <th>Data de Lançamento</th>
        <th>Imagem</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% livros.forEach(livro => { %>
        <tr>
          <td><%= livro.id_livro %></td>
          <td><%= livro.titulo %></td>
          <td><%= livro.autor %></td>
          <td><%= livro.genero %></td>
          <td><%= livro.descricao %></td>
          <td><%= livro.data_lanc %></td>
          <td>
            <% if (livro.imagem) { %>
              <img src="/uploads/<%= livro.imagem %>" width="200" height="300" alt="Imagem do Livro">
            <% } else { %>
              Sem imagem
            <% } %>
          </td>
          <td>
            <!-- Botão para editar -->
            <a href="/edit-livro/<%= livro.id_livro %>">Editar</a>

            <!-- Formulário para excluir com confirmação -->
            <form action="/delete-livro/<%= livro.id_livro %>" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
              <button type="submit" id="excluir" name="excluir">Excluir</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <br/>
  <a href="/dashboard">Voltar</a>
</body>
<script src="/js/scriptDelLivro.js"></script>
</html>
